.App {
  text-align: center;
}
.rectangle {
  display: flex;
  width: 1920px;
  height: 1080px;
  background-color: #FAF5E433;
  margin-left: 120px;
}

.navigation {
  width: 405px;
  height: 1080px;
  background-color: #F8B400B2;
}

.logo_block {
  padding-top: 50px;

}
.logo {
  font-family: 'PlayfairDisplay-ExtraBold';
  font-size: 28px;
  font-weight: 800;
  color: #125B50;
}
.logo_text {
  font-family: 'PlayfairDisplay-Medium';
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.button_navi_block {
  padding-top: 184px;
}
.button {
  width: 405px;
  height: 80px;
  background-color: #F8B400B2;
  color: #000000;
  margin-bottom: 6px;
  border: 0;
  font-family: 'Monserrat-Medium';
  font-size: 24px;
}
.button:hover {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25), 0px -3px 9px rgba(0, 0, 0, 0.25);
}

.main_field {
  padding-top: 171px;
  width: 870px;
  height: 726px;
}

.main_field_title {
  font-family: 'Monserrat-Medium';
  font-size: 40px;
  font-weight: 500;

}
.input_rub {
  width: 546px;
  height: 60px;
  margin-top: 70px;
  margin-bottom: 18px;
  border: 1px solid #B7B7B7;
  border-radius: 8px;
  
}
.select_element {
  width: 264px;
  height: 60px;
  border: 1px solid #B7B7B7;
  border-radius: 8px;
  font-family: 'Monserrat-Regular';
  font-weight: 400;
  font-size: 24px;
  margin: 40px 19px 0px;
  padding-left: 10px;
}
.main_field_string_input {
  width: 264px;
  height: 60px;
  border: 1px solid #B7B7B7;
  border-radius: 8px;
  font-family: 'Monserrat-Regular';
  font-weight: 400;
  font-size: 24px;
  margin-top: 40px;
  
}
.main_field_string_button {
  width: 264px;
  height: 60px;
  border: 1px solid #125B50;
  color: white;
  font-family: 'Monserrat-Regular';
  font-weight: 600;
  font-size: 24px;
  margin: 40px 19px 0px;
  background: #125B50;
  border-radius: 24px;
}
.option_list {
  
  font-family: 'Monserrat-Regular';
  font-weight: 400;
  font-size: 24px;
}

